body {
    /* background-color: rgb(100, 100, 100); */
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.header {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(56,125,220);
    background: radial-gradient(circle, rgba(56,125,220,1) 30%, rgba(56,56,165,0.9) 70%);
    border: 1px solid goldenrod;
    border-radius: 10px;
}
.title {
    max-width: fit-content;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.4em;
    color: white;
    text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
}
.clock {
    max-width: fit-content;
    margin: 0 auto 250px;
    padding: 200px 0 25px 0;
}
.clock__watch {
    font-size: 128px;
    color: white;
}
.millisec {
    max-width: fit-content;
    margin: 0 auto;
    font-size: 28px;
    color: white;

}
.nav {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
}
.timer__button {
    width: 180px;
    min-height: 45px;
    border-radius: 8px;
    color: antiquewhite;
    font-size: 26px;
    font-weight: bold;
}
.button-start,
.button-pause,
.button-clear,
.button-continue {
    background-repeat: no-repeat;
    background-position: -8px center;
    background-size: 35%;
    margin-bottom: 45px;
    text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
}
.button-start {
    background-color: rgba(42, 253, 14, 0.8);
    background-image: url(../img/play.svg);
}
.button-continue {
    background-color: rgba(37, 177, 19, 0.8);
    background-image: url(../img/play.svg);
}
.button-pause {
    background-color: rgba(183, 0, 255, 0.8);
    background-image: url(../img/pause.svg);
}
.button-clear {
    background-color: rgba(224, 14, 14, 0.8);
    background-image: url(../img/clear.svg);
}
.hidden {
    display: none;
}